<div class="center_buttons">
    <button routerLink="home" routerLinkActive="active" class="button" style="vertical-align:middle"
        (click)="onHomeClick()"><span>Home </span></button>
    <button routerLink="friends" routerLinkActive="active" class="button" style="vertical-align:middle"
    (click)="onFriendsClick()"><span>Friends
        </span></button>
    <button routerLink="profile" routerLinkActive="active" class="button" style="vertical-align:middle"
    (click)="onProfileClick()"><span>Profile
        </span></button>
    <button routerLink="about" routerLinkActive="active" class="button" style="vertical-align:middle"
    (click)="onAboutClick()"><span>About
        </span></button>
</div>